body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid #fff;
}

.red{
    border: 2px solid red;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-10px, 0); }
    20%, 40%, 60%, 80%, 100% { transform: translate(10px, 0); }
  }
  
  .shake {
    animation: shake 0.5s;

    
  }
  